.register-screen{
    margin-left: 85px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #00B761;
}
.register_p{
    text-align: center;
}
.forgot-password{
    margin-left: 200px;
}
.isError{
    color: red;
}
.register_relative{
    background-color: #f6f6f6;
}
.link-redict{
    color: #00B761;
    cursor: pointer;
}
.link-redict:hover{
    opacity: 0.7;
    color: #00B761;
    text-decoration: none;
}
@media (min-width:780px) and (max-width:1023px){
    .img_logo{
        position: relative;
        right: 18%;
        z-index: 0;
    }
    #register_form{
        z-index: 10;
    }
}
.login-linka:hover{
    text-decoration: none;
    color: white;
    opacity: 0.8;
}