.change-container{
    margin-left: 40px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #00B761;
}
.change_relative{
    background-color: #f6f6f6;
}
.change_text{
    text-align: center;
}
@media (min-width:780px) and (max-width:1023px){
    .img_logo{
        position: relative;
        right: 18%;
        z-index: 0;
    }
    #change_form{
        z-index: 10;
    }
}