.account_container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
}
.container_con_account{
    width: 1200px;
}

.title {
    margin-top: 30px;
}

.imageAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}

.image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
}

.image img {
    width: 100%;
    object-fit: cover;
}

.name h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn_account {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 80px;
}

.btn_infor {
    margin-bottom: 20px;
    width: 70%;
    border-radius: 50px;
    background-color: gray;
    color: #fff;
    padding: 10px 10px;
}

.btn_out {
    width: 70%;
    border-radius: 50px;
    background-color: red;
    color: #fff;
    padding: 10px 10px;
}

.btn_infor .link_infor {
    color: #fff;
    text-decoration: none;
}

.title .link_backAccount {
    text-decoration: none;
}

.avatarAccount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


@media (min-width: 375px) and (max-width: 700px) {
    .btn_infor {
        margin-bottom: 20px;
        width: 100%;
        border-radius: 50px;
    }
    
    .btn_out {
        width: 100%;
        border-radius: 50px;
    }
    .image {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
    }
}