::-webkit-scrollbar{
    width: 8px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(173, 168, 168);
}
.header__container{
    background-image: linear-gradient(#00B761, #11cf77);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__container-con{
    width: 1200px;
}
.header__container-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.header__container-welcome{
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}
.header__container-auth{
    display: flex;
    color: white;
    font-size: 20px;
    list-style: none;
}
.menu-item-link-header{
    color: white;
}
.menu-item-link-header:hover{
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

.logout{
    display: flex;
    color: rgb(195, 245, 214);
    font-size: 20px;
    list-style: none;
    cursor: pointer;
}
.auth-hidden{
    display: none;
}
.header__container-auth-login{
    padding-right: 12px;
    position: relative;
    border-right:2px solid rgba(151, 247, 151, 0.7);
    cursor: pointer;
}

.header__container-auth-register{
   padding-left: 12px;
   cursor: pointer;
}
.logout:hover,.header__container-auth-login:hover, .header__container-auth-register:hover{
    color : rgba(255, 255, 255, 0.5);
    transition: .4s;
    opacity: 0.9;
}
.header__container-bot{
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}
.header__container-bot-left{
    flex:1;
    font-size: 35px;
    align-self: center;
    text-align: left;
    font-weight: 800;
}
.header__container-bot-left .menu-item-link{
    color: white;
    text-decoration: none;
}
.header__container-bot-center{
    flex:5;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    border-radius: 10px;
}
.search-top{
    width: 35px;
    height: 35px;
    background-color: #00B761;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid rgba(0, 0, 0,0.2);
    cursor: pointer;
    transition: .4s all;
}
.Shopping-Cart:hover{
    opacity: 0.8;
}
.input-search{
    outline: none;
    flex: 1;
    height: 35px;
    border: none;
    font-size: 18px;
}
.Shopping-Cart{ 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.4s all;
    cursor: pointer;
    position: relative;
}
.header__num-cart{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    top: -10%;
    right: 38%;
    min-width: 20px;
    min-height: 20px;
    
    background-color:rgba(206, 247, 23, 0.9);
    z-index: 50;
    font-weight: bold;
    border-radius: 50%;
    color: #444;
}
.header__container-bot-right{
    color: white;
    flex:1;
}
.menu-bot{
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:780px) and (max-width:1023px) {
    .header__container-bot-left{
        display: none;
    }
    .header__container-bot-center{
        margin-left: 20px;
    }
    .header__container-top{
        flex-direction: column;
    }
    .header__container-welcome{
        
        margin-bottom: 10px;
    }
    .input-search{
        font-size: 14;
    }
    
}

@media (max-width:779px){
    .header__container-bot-left{
        display: none;
    }
    .header__container-bot-center{
        margin-left: 15px;
    }
    .header__container-top{
        flex-direction: column;
    }
    .header__container-welcome{
        
        margin-bottom: 10px;
    }
    .input-search{
        font-size: 14;
    }
}
@media (min-width:780px) and (max-width:1023px){
    .header__num-cart{
        right: 34%;
    }
}
@media (min-width:500px) and (max-width:778px){
    .header__num-cart{
        right: 30%;
    }
}
@media (min-width:350px) and (max-width:499px){
    .header__num-cart{
        right: 20%;
    }
}
@media (max-width:349px){
    .header__num-cart{
        right: 9%;
    }
}