.categories-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5fa;
}
.categories-container-con{
    background-color: #fff;
    padding: 20px 0;
    width: 1200px;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.categories-load-more{
    margin: 30px 0;
    width: 100%;
    height: 60px;
}
.btn-cat{
    position: absolute;
    top: 32%;
    z-index: 501;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    opacity: 0.3;
    transition: 0.4s all;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-cat:hover{
    opacity: 1;
    background-color: rgba(0,0,0,0.3);
}
.btn-prev-cat{
    left: 0;
}
.btn-next-cat{
    right: 0;
}
.categories-container-con2{
    background-color: #fff;
    width: 1200px;
    display: flex;
    
}
.categories-product-null{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color:gray;
    font-weight: 600;
   
}
.categories-left{
    flex: 2;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    min-height: 100vh;
}
.categories-right-product{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin-bottom: 20px;  
    margin-top: 10px; 
    margin-left: 1px;
}
.categories-filter{
    display: flex;
    width: 100%;
    padding: 5px 10px 15px 10px;
   
}
.categories-product-lt{
    flex: 9;
}
.categories-left-item{
    font-size: 17px;
    margin:0 20px;
    cursor: pointer;
    color: #686767;
    padding: 5px 0;
    border-bottom: 1px dotted gray;
    box-sizing: border-box;
}
.categories-left-active{
    color: #555;
    border-bottom: 1px dotted #555;
    font-weight: 600;  
}

.categories-left-item:hover{
    transition: 0.4s;
    opacity: 0.7;
}
.categories-left-title{
    box-sizing: border-box;
    padding: 8px 0;
    font-size: 16px;
    color: #00B761;
    font-weight: 600;
    border-bottom:1px solid #ccc ;
    text-align: center;
}
.categories-load-new{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #00B761;
    padding-bottom: 6px;
    font-size: 18px;
    font-weight: 600;
}
.categories-load-new:hover{
   text-decoration: underline;
}
@media (min-width:1023px) and (max-width:1200px) {
    .categories-left{
        flex: 3;
    }
    .categories-container-con,.categories-container-con2{
        width: 100%;
    }
    .categories-left-title{
        margin-bottom: 3px;
        border-bottom: none;
    }
    .categories-right-product{
        margin-top: 10px;
        justify-content: space-around;
    }
}

@media (min-width:780px) and (max-width:1023px) {
    .categories-left{
        min-height: 50vh;
    }
    .btn-cat{
        display: none;
    }
    .categories-left{
        flex: 3;
    }
    .categories-container-con,.categories-container-con2{
        width: 100%;
    }
    .categories-left-title{
        margin-bottom: 3px;
        font-size: 14px;
        border-bottom: none;
    } 
    .categories-right-product{
        margin-top: 10px;
        justify-content: space-around;
    }
}
@media (max-width:779px) {
    .btn-cat{
        display: none;
    }
    .categories-container-con,.categories-container-con2{
        width: 100%;
    }
    .categories-left-title,.categories-product-lt{
        display: none;
    }
    .categories-left{
        min-height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .categories-container-con{
        background-color: #eee;
    }
}