.rating-container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
}
.txt-comment{
    max-width: 100%;
    resize: none;
    font-size: 18px;
    line-height: 18px;
    height: 100px;
    padding: 15px;
    border-radius: 15px;
    outline: none;
    border: 1px solid gray;  
}
.txt-comment:focus{
    outline: none;
}
.rating-star{
    display: flex;
    margin-bottom: 3px;
}
.rating-comment{
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
}
.rating-btn-send{
    border: none;
    padding: 8px 20px;
    border-radius: 15px;
    background-color:#eeeb3e;
    font-weight: 500;
    color: #524d4f;
    cursor: pointer;
}
.rating-btn-send:hover{
    opacity: 0.8;
}
@media (min-width:780px) and (max-width:1023px) {
    .rating-container{
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
    }
    .rating-comment{
        max-width: 100%;
        margin-right: 10px;
    }
}
@media (max-width:779px){
    .rating-container{
        max-width: 100%;
        margin-right: 10px;
        margin-left: 10px;
    }
    .rating-comment{
        max-width: 100%;
    }
    .txt-comment{
        max-width: 100%;     
    }
}