
.infor_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.container_con_infor{
    width: 1200px;
}

.title {
    margin-top: 30px;
}

.title .iconPre h3 {
    margin-left: 15px;
}
.inforAll {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tag h5 {
    text-align: right;
}

.btnInfor {
    text-align: center;
}
.btnInfor .btn_information {
    margin-right: 10px;
    color: #fff;
    background-color: #23C431;
    padding: 10px 10px;
    border-radius: 10px;
}

.btnInfor .btn_information .linkInfor{
    color: #fff;
    text-decoration: none;
}

.title .link_backInfor {
    text-decoration: none;
}


@media (min-width: 375px) and (max-width: 700px)
{
    .tag h5 {
        text-align: center;
    }
    
    .name {
        text-align: center;
    }
}