.cartcard-conainer{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.cartcard-detail{
    display: flex;
    font-weight: 600;
}

.cartcard-detail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartcard-img img{
    width: 150px;
    height: 150px;
}
.cartcard-price-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartcard-price-sale{
    text-decoration: line-through;
    color:gray;
    font-size:17px;
    margin-bottom: 5px;
}
.cartcard-price{
    font-weight: 600;
    color:#444;
    font-size:18px;
}
.cartcard-price-total{
    font-weight: 600;
    color:#303f34;
    font-size:18px;
}
.cartcard-delete-conatainer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartcard-quantity-number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}
.cartcard-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
}
.cartcard-btn:hover{
    opacity: 0.7;
}
.cartcard-delete{
    cursor: pointer;
}
.cartcard-delete:hover{
    opacity: 0.8;
}
.cartcard-conainer-con{
    display: flex;
    width: 100%;
}
.cartcard-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.cartcard-img img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.cartcard-left-conatainer{
    padding: 10px;
    width: 100%;
    margin: 0 10px;
}
.cartcard-item{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartcard-phone-detail{
    color: black;
    font-size: 12px;
}
.cartcard-quantity{
    display: flex;
}

@media (min-width:321px) and (max-width:600px) {
    .cartcard-img img{
        width: 100px;
        height: 100px;
    }
    .cartcard-item{
        margin-top: 5px;
    }
    .cartcard-detail,.cartcard-price,.cartcard-price-sale{
        font-size: 12px ;
    }
    .cartcard-quantity-number{
        width: 20px;
        height: 20px;
    }
    .cartcard-btn{
        width: 20px;
        height: 20px;
    }
    .cartcard-conainer{
        border-radius: 10px;
    }
}
@media (max-width:320px) {
    .cartcard-img img{
        width: 100px;
        height: 100px;
    }
    .cartcard-item{
        margin-top: 2px;
    }
    .cartcard-detail,.cartcard-price,.cartcard-price-sale{
        font-size: 10px ;
    }
    .cartcard-quantity-number{
        width: 20px;
        height: 20px;
    }
    .cartcard-btn{
        width: 20px;
        height: 20px;
    }
    .cartcard-conainer{
        border-radius: 10px;
    }
}