.comment-container{
    margin-top: 20px;
    max-width: 800px;
    background-color: rgb(127, 250, 164);
    padding: 15px;
    border-radius: 15px;
    box-sizing: border-box;
}
.comment-container img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.comment-rating-medium{
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment-avatar-name{
    display: flex;
    align-items: center;
}
.comment-name{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}
.comment-cmt{
    margin-top: 10px;
    font-size: 18px;
}
@media (min-width:780px) and (max-width:1023px) {
    .comment-container{
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
    }
    
}
@media (max-width:779px){
    .comment-container{
        max-width: 100%;
        margin-right: 10px;
        margin-left: 10px;
    }
    .comment-cmt{
        font-size: 16px;
    }
    .comment-container img{
        height: 45px;
        width: 45px;
    }
    .comment-name{
        font-size: 15px;
    }
}