@import '../../root.css';
.category-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}
.home-container-categories .slick-track{
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-container-char{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 25px;
    width: 100%;
    font-size: 14px;
}
.img-category{
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}
.img-category img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.category-title{
   color:  #574a4a;
   padding-bottom: 5px;
   margin: 0 10px;
   font-size: 14px;
    text-align: center;
}
.category-container-active{   
    box-sizing: border-box;
    border-bottom: 2px solid #00B761;
}
.category-container-active .category-title{
    color: #00B761;
}
.link-sub-cat:hover{
    text-decoration: none;
}
.category-sub{
    margin:0 5px;
    cursor: pointer;
    box-sizing: border-box;
}
.category-sub:hover{
    opacity: 0.7;
}
.img-category-sub{
    margin-top: 10px;
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    display: none;
}
.img-category-sub img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.category-title-sub{
    font-size: 17px;
    margin:0 20px;
    cursor: pointer;
    color: #686767;
    padding: 5px 0;
    border-bottom: 1px dotted gray;
    box-sizing: border-box;
}
.category-title-sub-avtive{
    color: #555;
    border-bottom: 1px dotted #555;
    font-weight: 600;
}
.categories-left-active{
    font-size: 17px;
    margin:0 20px;
    cursor: pointer;
    color: #555;
    padding: 5px 0;
    border-bottom: 1px dotted #555;
    font-weight: 600;
    box-sizing: border-box;
}
@media (min-width:780px) and (max-width:1023px) {
    .category-container-char{
        margin:0 5px;
        font-size: 14px;
    }
}

@media (max-width:779px) {
    .link-sub-cat{
        flex: 1;
    }
    .category-sub{
        display: none;
        width: 45vw;
    }
    .img-category-sub{
        display: block;
        width: 45px;
        height: 45px;
    }
    .img-category{
        width: 55px;
        height: 55px;
    }
    .category-sub{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .category-title-sub,.category-title-sub-avtive{
        border: none;
        font-size: 16px;
        text-align: center;
    }
    .category-container-char{
        margin:0;
        font-size: 12px;
    }
}