.otpInput{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 25px;
    border-bottom-width: 2px;
}
.btnResend{
    cursor: pointer;
}
.otp-code{
    text-align: center;
}
.input-otp{
    text-align: center;
}
.title-verfication{
    margin-left: 25px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #00B761;
}
.otp_relative{
    background-color: #f6f6f6;
}
@media (min-width:780px) and (max-width:1023px){
    .img_logo{
        position: relative;
        right: 18%;
        z-index: 0;
    }
    #otp_form{
        z-index: 10;
    }
}