.ordered_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    align-items: flex-start;
    background-color: #eff0f5;
}

.container_con_ordered {
    width: 1200px;
}

.list_ordered {
    margin-bottom: 30px;
}

.title_ordered {
    font-size: 22px;
    color: #424242;
    margin-left: 20px;
    margin-top: 20px;
}

.list_ordered .name_shop {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    margin-top: 20px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.list_ordered .name_shop .title_name_shop {
    font-weight: bold;
    margin-left: 5px;
}

.list_ordered .name_shop img {
    width: 20px;
    height: 20px;
}

.list_ordered .name_shop .link_btn_ordered {
    text-decoration: none;
    color: #fff;
}

.list_ordered .title_row_ordered {
    padding-left: 25px;
    border: solid 1px #fff;
    background-color: #fff;
    margin-top: 5px;
}

.list_ordered .title_row_ordered {
    padding-left: 45px;
}

.list_ordered .title_row_ordered {
    padding-top: 20px;
    padding-bottom: 20px;
}

.list_ordered .title_row_ordered .order_img_product img {
    width: 125px;
    height: 125px;
    border-radius: 5px;
    overflow: hidden;
}

.list_ordered .title_row_ordered .list_product {
    margin-bottom: 20px;
}

.list_ordered .title_row_ordered .order_name_product {
    display: block;
    display: -webkit-box;
    text-align: left;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ordered_btn_detail {
    position: absolute;
    background-color: #23C431;
    color: #fff;
    padding: 2px 2px 2px 2px;
    font-size: 15px;
    left: 93%;
    border-radius: 5px;
}

.ordered_btn_detail:hover {
    background-color: #4C8C52;
}

.ordered_delete {
    position: absolute;
    left: 80%;
    background-color: rgb(237, 53, 53);
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
}

.ordered_delete:hover {
    background-color: rgb(165, 4, 4);
    color: #fff;
}

.ordered_time {
    padding-left: 20px;
}

#ordered_btn_in_update {
    background-color: #23C431;
    color: #fff;
}

#ordered_btn_in_update_delete {
    background-color: red;
    color: #fff;
}

.ordered_status_accept {
    margin-left: 10px;
    background-color: #23C431;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.ordered_status_cancel {
    margin-left: 10px;
    background-color: red;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

@media (min-width: 375px) and (max-width: 700px) {
    .list_ordered .title_row_ordered .order_img_product {
        text-align: left;
    }
    .list_ordered .title_row_ordered .order_name_product {
        display: block;
        display: -webkit-box;
        text-align: left;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .list_ordered .title_row_ordered {
        padding-left: 20px;
    }
    .list_ordered .title_row_ordered .order_img_product img {
        width: 150px;
        height: 150px;
        border-radius: 5px;
        overflow: hidden;
    }
    .ordered_btn_detail {
        left: 80%;
    }
    .ordered_delete {
        left: 50%;
    }
    .ordered_time {
        padding-left: 10px;
    }
}

@media (min-width: 700px) and (max-width: 850px) {
    .list_ordered .title_row_ordered .list_product .order_name_product {
        padding-left: 30px;
    }
    .ordered_btn_detail {
        left: 90%;
    }
    .ordered_delete {
        left: 75%;
    }
}