.email-otp{
    margin-left: 90px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #00B761;;
}
.emailotp_text{
    text-align: center;
}
.emailotp_relative{
    background-color: #f6f6f6;
}
@media (min-width:780px) and (max-width:1023px){
    .img_logo{
        position: relative;
        right: 18%;
        z-index: 0;
    }
    #emailotp_form{
        z-index: 10;
    }
}