.checkout_container{
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 60vh;
    align-items: flex-start;
    background-color: #f4f4f4;
}
.container_con_checkout{
    width: 1200px;
    margin-top: 30px;
}

.col_infor{
    margin-right: 20px;
    margin-left: 20px;
    background-color: #fff;
}

.col_check {
    background-color: #fff;
    
}

.title_checkout h3 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.icon_payment {
    margin-left: 10px;
    margin-right: 5px;
    color: #059ee8;
}

.icon_title_paymet {
    margin-top: 10px;
}

.icon_checkbox .icon_check{
    position: absolute;
    left: 90%;
    top: 10px;
    color:#0097b8;
    
}

.title_mini_method {
    font-size: 13px;
    color: #a4a4a4;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.border_payment {
    position: relative;
    border: #0b99b9 1px solid;
    border-radius: 5px;
    margin-top: 20px;
}

.title_payment {
    margin-top: 20px;
}
.title_order {
    margin-top: 20px;
}

#price_id {
    text-align: right;
}

.price_all_product {
    margin-bottom: 20px;
    margin-top: 10px;
}

.title_price_product {
    margin-top: 10px;
    margin-bottom: 20px;
}

#title_ic {
    color: #8F8F8F;
}

.price_all {
    color: #00B761;
}

.checkout_btn_order {
    width: 100%;
    margin-top: 40px;
    background-color: #00B761;
    border-radius: 5px;
    color: #fff;
    padding: 10px 10px;
}

.checkout_btn_order:hover {
    opacity: 0.9;
}
.checkout_row {
    margin-bottom: 30px;
}

@media (min-width: 375px) and (max-width: 700px)
{
    .col_infor {
        margin-left: 10px;
        margin-right: 10px;
    }
    .col_check {
        margin-left: 10px;
        margin-right: 10px;
    }
    .container_con_checkout {
        margin-bottom: 50px;
        margin-top: 0;
    }
    .title_checkout h3{
        margin-bottom: 20px;
    }

    .price_all_product {
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .title_price_product {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .title_price_ship {
        margin-top: 10px;
    }
    
}

@media (min-width: 700px) and (max-width: 810px) {
    .icon_payment {
        margin-left: 0;
        margin-right: 0;
        color: #059ee8;
    }
    .icon_title_paymet {
        margin-top: 10px;
    }
    
    .border_payment {
        border: #0b99b9 1px solid;
        border-radius: 5px;
        margin-top: 20px;
    }
    
    .icon_checkbox .icon_check{
        left: 90%;
        top: 10px;
        color:#0097b8;
    }
}